# Dependencies
node_modules/
package-lock.json

# Build and Dist output
dist/
*.zip
*.tar.gz
*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jenkins temporary build files
*.tmp
